// *****************************************
//  Resets
// *****************************************
body, html
    margin 0
    font-size 14px
    font-family 'Helvetica', sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5, h6
    margin 0

h1
    font-size 1.5rem
    font-weight bold

h2
    font-size 1.14rem
    font-weight normal
    padding 0.04em 0 .2em

h3
    font-size 1.3rem
    font-weight bold

h4
    font-size 1.1rem
    font-weight bold

h5
    font-size .9rem
    font-weight bold

h6
    font-size .65rem
    font-weight bold

a
    color inherit
    cursor pointer
    text-decoration none

ul, li
    list-style none

ul
    padding 0
    margin 0
p
    max-width 40em

p:empty, span:empty
    display none

section
    margin-right .5em
    margin-left .5em
    &:first-child
        margin-top 0
    &:last-child
        padding-bottom 4em
    &:only-of-type
        padding-top 6em
        padding-bottom 8em

// *****************************************
//  Layout
// *****************************************
.list
    -webkit-columns 3 300px
    -moz-columns 3 300px
    columns 3 300px
    -ms-column-gap 4.6em
    -webkit-column-gap 4.6em
    -moz-column-gap 4.6em
    column-gap 4.6em
    li
        &:first-child
            margin-top 0

.no-focus
    &:focus
        outline none

.clear
    clear both


// *****************************************
//  Menu
// *****************************************
.menu-wrapper
    width 100%
    position relative
    z-index 99

.fixed-menu
    position fixed
    z-index 2

.menu
    width 100%
    -webkit-justify-content space-between
    justify-content space-between
    box-sizing border-box
    z-index 99

.menu,
.menu ul
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex

.menu-item,
.menu-btn
    cursor pointer

.menu-item:not(:last-child),
.sub-menu-item:not(:last-child)
    margin-right 1em

.menu-item a,
.footer-item a
    display inline-block
    text-decoration none
    box-sizing border-box

// *****************************************
//  Position
// *****************************************

.absolute
    position absolute

.relative
    position relative

.fixed
    position fixed

.block
    display block

.inline
    display inline

.inline-block
    display inline-block
.float-right
    float right

.float-left
    float left

.absolute-top-right
    position absolute
    right 0
    top 0

.absolute-right
    position absolute
    right 0

.right-side
    right 0

.top
    top 0

// *****************************************
//  Overflow
// *****************************************

.overflow
    overflow hidden

// *****************************************
//  Flex module
// *****************************************

.flex
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex

.inlineflex
    display -ms-inline-flex
    display -webkit-inline-flex
    display inline-flex

.flex_justify-center
    -webkit-justify-content center
    justify-content center

.flex_space-around
    -webkit-justify-content space-around
    justify-content space-around

.flex_space-between
    -webkit-justify-content space-between
    justify-content space-between

.flex_justify-start
    -webkit-justify-content flex-end
    justify-content flex-end

.flex_justify-end
    -webkit-justify-content flex-end
    justify-content flex-end

.flex_stretch
    -webkit-align-items stretch
    align-items stretch
    -webkit-align-content space-between
    align-content space-between

.flex_horizontal-center
    -webkit-align-self center
    align-self center

.flex_align-center
    -webkit-align-items center
    align-items center

.flex_align-self-end
    -webkit-align-self flex-end
    align-self flex-end

.flex_align-self-center
    -webkit-align-self center
    align-self center

.flex_align-self-baseline
    -webkit-align-self baseline
    align-self baseline

.flex_item-to-right
    margin-left auto

.flex_item-to-left
    margin-right auto

.flex_wrap
    -webkit-flex-wrap wrap
    flex-wrap wrap

.flex_col
    -webkit-flex-direction column
    flex-direction column

.flex_row-wrap
    -webkit-flex-flow row wrap
    flex-flow row wrap

.flex-half
    flex .5

.flex-1
    flex 1

.flex-1half
    flex 1.5

.flex-2
    flex 2

.flex-3
    flex 3

.flex-4
    flex 4

.flex-5
    flex 5

.flex-6
    flex 6

.flex-7
    flex 7

.flex-8
    flex 8

// *****************************************
//  Text
// *****************************************

.text-right
    text-align right

.helvetica
    font-family Helvetica, sans-serif

.times
    font-family Times, serif

.upper
    text-transform uppercase

.capitalize
    text-transform capitalize

.italic
    font-style italic

.bold
    font-weight bold

.underline
    text-decoration underline

.text_align-center
    text-align center

.text_align-right
    text-align right

.text_align-left
    text-align left

.small-font, .small-font > *
    font-size .85rem

// *****************************************
//  Content boxes
// *****************************************
.content-box-960
    max-width 960px
    margin auto

.content-box-1024
    max-width 1024px
    margin auto

.content-box-1200
    max-width 1200px
    margin auto

.content-box-1400
    max-width 1400px
    margin auto

.max-w-960
    max-width 960px

.max-w-1024
    max-width 1024px

.max-w-1200
    max-width 1200px

.max-w-1400
    max-width 1400px

// *****************************************
//  Box sizing
// *****************************************
.border-box
    -moz-box-sizing border-box
    box-sizing border-box

.content-box
    -moz-box-sizing content-box
    box-sizing content-box

// *****************************************
//  Borders
// *****************************************

.border-all
    border 2px solid

.border-top
    border-top 2px solid

.border-bottom
    border-bottom 2px solid

.border-rt
    border-right 1px solid

.border-lt
    border-left 1px solid

.border-width-1
    border-width 1px

.border-width-2
    border-width 2px

.border-width-3
    border-width 3px

.border-width-4
    border-width 4px

.border-width-5
    border-width 5px

// *****************************************
//  Flex module
// *****************************************

.margin-auto
    margin auto

.margin-top-auto
    margin-top auto

.margin-right-auto
    margin-right auto

.margin-left-auto
    margin-left auto

.margin-center
    margin auto
    top 0
    bottom 0
    right 0
    left 0

.horizontal-center
    margin auto
    right 0
    left 0

.top-margin-half
    margin-top .5em

.top-margin-1
    margin-top 1em

.top-margin-2
    margin-top 2em

.top-margin-3
    margin-top 3em

.top-margin-4
    margin-top 4em

.top-margin-5
    margin-top 5em

.top-margin-6
    margin-top 6em

.top-margin-10
    margin-top 10em

.bottom-margin-half
    margin-bottom .5em

.bottom-margin-1
    margin-bottom 1em

.bottom-margin-1half
    margin-bottom 1.5em

.bottom-margin-1andHalf
    margin-bottom 1.5em

.bottom-margin-2
    margin-bottom 2em

.bottom-margin-3
    margin-bottom 3em

.bottom-margin-4
    margin-bottom 4em

.bottom-margin-5
    margin-bottom 5em

.bottom-margin-6
    margin-bottom 6em

.up-down-margin-half
    margin-top 0.5em
    margin-bottom 0.5em

.up-down-margin-1
    margin-top 1em
    margin-bottom 1em

.up-down-margin-2
    margin-top 2em
    margin-bottom 2em

.up-down-margin-3
    margin-top 3em
    margin-bottom 3em

.up-down-margin-4
    margin-top 4em
    margin-bottom 4em

.up-down-margin-5
    margin-top 5em
    margin-bottom 5em

.up-down-margin-6
    margin-top 6em
    margin-bottom 6em

.right-margin-half
    margin-right .5em

.right-margin-75d
    margin-right .75em

.right-margin-1
    margin-right 1em

.right-margin-2
    margin-right 2em

.right-margin-3
    margin-right 3em

.right-margin-4
    margin-right 4em

.right-margin-5
    margin-right 5em

.right-margin-6
    margin-right 6em

.right-margin-7
    margin-right 7em

.right-margin-8
    margin-right 8em

.right-margin-9
    margin-right 9em

.left-margin-half
    margin-left .5em

.left-margin-1
    margin-left 1em

.left-margin-2
    margin-left 2em

.left-margin-3
    margin-left 3em

.left-margin-4
    margin-left 4em

.left-margin-5
    margin-left 5em

.left-margin-6
    margin-left 6em

.left-margin-7
    margin-left 7em

.left-margin-8
    margin-left 8em

.left-margin-9
    margin-left 9em

.margin-half
    margin .5em

.margin-1
    margin 1em

.margin-2
    margin 2em

.margin-3
    margin 3em

.margin-4
    margin 4em

.margin-5
    margin 5em

.margin-6
    margin 6em

.side-margin-half
    margin-right 0.5em
    margin-left 0.5em

.side-margin-1
    margin-right 1em
    margin-left 1em

.side-margin-2
    margin-right 2em
    margin-left 2em

.side-margin-3
    margin-right 3em
    margin-left 3em

.side-margin-4
    margin-right 4em
    margin-left 4em

.side-margin-5
    margin-right 5em
    margin-left 5em

.side-margin-6
    margin-right 6em
    margin-left 6em


// *****************************************
//  Paddings
// *****************************************
.top-padding-half
    padding-top .5em

.top-padding-1
    padding-top 1em

.top-padding-2
    padding-top 2em

.top-padding-3
    padding-top 3em

.top-padding-4
    padding-top 4em

.top-padding-5
    padding-top 5em

.top-padding-6
    padding-top 6em

.top-padding-7
    padding-top 7em

.top-padding-8
    padding-top 8em

.top-padding-9
    padding-top 9em

.top-padding-10
    padding-top 10em

.bottom-padding-half
    padding-bottom .5em

.bottom-padding-1
    padding-bottom 1em

.bottom-padding-1andHalf
    padding-bottom 1.5em

.bottom-padding-2
    padding-bottom 2em

.bottom-padding-3
    padding-bottom 3em

.bottom-padding-4
    padding-bottom 4em

.bottom-padding-5
    padding-bottom 5em

.bottom-padding-6
    padding-bottom 6em

.right-padding-half
    padding-right .5em

.right-padding-1
    padding-right 1em

.right-padding-2
    padding-right 2em

.right-padding-3
    padding-right 3em

.right-padding-4
    padding-right 4em

.right-padding-5
    padding-right 5em

.right-padding-6
    padding-right 6em

.right-padding-7
    padding-right 7em

.left-padding-half
    padding-left .5em

.left-padding-1
    padding-left 1em

.left-padding-2
    padding-left 2em

.left-padding-3
    padding-left 3em

.left-padding-4
    padding-left 4em

.left-padding-5vmax
    padding-left 5vmax

.padding-quarter
    padding 0.25em

.padding-half
    padding 0.5em

.padding-1
    padding 1em

.padding-2
    padding 2em

.padding-3
    padding 3em

.padding-4
    padding 4em

.side-padding-half
    padding-right .5em
    padding-left .5em

.side-padding-1
    padding-right 1em
    padding-left 1em

.side-padding-2
    padding-right 2em
    padding-left 2em

.side-padding-3
    padding-right 3em
    padding-left 3em

.side-padding-4
    padding-right 4em
    padding-left 4em

.side-padding-5
    padding-right 5em
    padding-left 5em

.side-padding-6
    padding-right 6em
    padding-left 6em

.up-down-padding-half
    padding-top 0.5em
    padding-bottom 0.5em

.up-down-padding-75d
    padding-top 0.75em
    padding-bottom 0.75em

.up-down-padding-1
    padding-top 1em
    padding-bottom 1em

.up-down-padding-2
    padding-top 2em
    padding-bottom 2em

.up-down-padding-3
    padding-top 3em
    padding-bottom 3em

.up-down-padding-4
    padding-top 4em
    padding-bottom 4em

.up-down-padding-5
    padding-top 5em
    padding-bottom 5em

.up-down-padding-6
    padding-top 6em
    padding-bottom 6em

.main-content-padding
    padding-top 2em
    padding-bottom 6em

.full-window-height
    min-height calc(100vh - 78px)

.full-width
    width 100%

.full-screen
    min-height 100vh
    min-width 100%

.full-content
    width 100%
    height 100%

.full-height
    height 100%

.width-10
    width 10%

.width-25
    width 25%

.width-30
    width 30%

.width-40
    width 40%

.width-50
    width 50%

.width-60
    width 60%

.width-70
    width 70%

.width-80
    width 80%

.width-third-part
    width 33.33%

.height-10
    height 10vh

.height-20
    height 20vh

.height-30
    height 30vh

.height-40
    height 40vh

.height-50
    height 50vh

.height-60
    height 60vh

.height-70
    height 70vh

.height-80
    height 80vh

.max-w-10e
    max-width 10em

.max-w-15e
    max-width 15em

.max-w-20e
    max-width 20em

.max-w-30e
    max-width 30em

.max-w-40e
    max-width 40em

.max-w-50e
    max-width 50em

.max-w-60e
    max-width 60em

.max-w-70e
    max-width 70em

.max-w-80e
    max-width 80em

// *****************************************
//  Transitions
// *****************************************

.trans-200
    -webkit-transition all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    -moz-transition all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    -o-transition all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    transition all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750)

.trans-300
    -webkit-transition all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -moz-transition all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -o-transition all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
    transition all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950)

.trans-500
    -webkit-transition all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    -moz-transition all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    -o-transition all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    transition all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750)

.trans-600
    -webkit-transition all 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    -moz-transition all 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    -o-transition all 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
    transition all 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750)

.trans-300ease
    -webkit-transition all 600ms ease
    -moz-transition all 600ms ease
    -o-transition all 600ms ease
    transition all 600ms ease

// *****************************************
//  Colors (debugging)
// *****************************************
.bkgd-white
    background-color rgb(255,255,255)

.bkgd-lightgrey
    background-color rgb(240,240,240)

.bkgd-grey
    background-color rgb(180,180,180)

.bkgd-darkgrey
    background-color rgb(80,80,80)

.bkgd-lightgreyblue
    background rgb(195,195,200)

.bkgd-red
    background-color rgb(255,0,0)

.bkgd-blue
    background-color rgb(0,0,255)

.bkgd-green
    background-color rgb(0,255,0)

.bkgd-black
    background-color black

.bkgd-purple
    background-color purple

.bkgd-tomato
    background-color tomato

.bkgd-salmon
    background-color salmon

.bkgd-mint
    background-color mintcream

.bkgd-coral
    background-color coral

.bkgd-chocolate
    background-color chocolate

.bkgd-crimson
    background-color crimson

.bkgd-cyan
    background-color cyan

.bkgd-darkcyan
    background-color darkcyan
    background-color darkorchid

.bkgd-magenta
    background-color magenta

.bkgd-darkslateblue
    background-color darkslateblue

.bkgd-deeppink
    background-color deeppink

.bkgd-goldenrod
    background-color goldenrod
    background-color goldenrod

.bkgd-darkslategrey
    background-color darkslategrey

.bkgd-dimgrey
    background-color dimgrey

.bkgd-lightblue
    background-color lightblue

.bkgd-darkblue
    background-color darkblue

.bkgd-lightslategrey
    background-color lightslategrey

.bkgd-lightsteelblue
    background-color lightsteelblue

.bkgd-cadetblue
    background-color cadetblue

.lightgrey
    color rgb(240,240,240)

.grey
    color rgb(180,180,180)

.darkgrey
    color rgb(80,80,80)

.lightgreyblue
    color rgb(195,195,200)

.red
    color rgb(255,0,0)

.blue
    color rgb(0,0,255)

.green
    color rgb(255,0,0)

.black
    color black

.white
    color white

.purple
    color purple

.tomato
    color tomato

.salmon
    color salmon

.mint
    color mintcream

.coral
    color coral

.chocolate
    color chocolate

.crimson
    color crimson

.cyan
    color cyan

.darkcyan
    color darkcyan
    color darkorchid

.magenta
    color magenta

.darkslateblue
    color darkslateblue

.deeppink
    color deeppink

.goldenrod
    color goldenrod

.darkslategrey
    color darkslategrey

.dimgrey
    color dimgrey

.lightblue
    color lightblue

.darkblue
    color darkblue

.lightslategrey
    color lightslategrey

.lightsteelblue
    color lightsteelblue

.cadetblue
    color cadetblue
// *****************************************
//  Inputs
// *****************************************
input
    box-sizing border-box

input[type=text]
    opacity .25
    border 1px solid #494A49
    padding .25em
    -webkit-border-radius 0
    border-radius 0
    background #fff
    box-sizing border-box

input[type=text]:focus
    opacity 1
    border-color #95DD75
    outline 5px
    outline-color #95DD75

input[type=submit]
    color inherit
    border 1px solid #494A49
    cursor pointer
    -webkit-border-radius 0
    border-radius 0
    background inherit

input[type= email],
input[type= password]
    border 1px solid #494A49
    -webkit-border-radius 0
    border-radius 0
    background #fff


input[type= email]:focus,
input[type= password]:focus
    border-color #95DD75
    outline 5px none #95DD75

input[type=button]
    border 0 none
    cursor pointer
    -webkit-border-radius 0
    border-radius 0
    background inherit

button
    text-transform uppercase
    -webkit-appearance none
    -moz-appearance none
    border 1px solid
    border-radius 0
    background inherit
    &:hover
        border-color lightgrey
        background lightgrey

form
    & > *
        padding-bottom 1em

:focus
    outline-color lightgrey
    outline-style none

input[type='checkbox']:checked
    & + label
        background purple
        border 5px solid tomato

input[type='checkbox']
    display none
    & + label
        padding-left 1em
        &:before
            content ""
            position absolute
            left 0
            width .25em
            height .5em
            border 1px solid red
            border-width 0 1px 1px 0
            -webkit-transform rotate(35deg)
            -moz-transform rotate(35deg)
            -ms-transform rotate(35deg)
            -o-transform rotate(35deg)
            transform rotate(35deg)

input::-moz-focus-inner,
input::-webkit-focus-inner
    border 6px

@media (max-width: 1040px)
    .mobile-menu-btn
        display block
        margin-top .5em
        margin-right .5em
    .square-25
        &:nth-child(4n)
            margin-right 1.33%
        &:nth-child(3n)
            margin-right 1.33%
            margin-left inherit
    .square-25-half
        &:nth-child(4n)
            margin-bottom 1vmax
            margin-right 1.333%
        &:nth-child(3n)
            margin-right 0
            margin-left inherit
    .column-trigger-1040
        -webkit-flex-direction column
        flex-direction column
    .column-reverse-trigger-1040
        -webkit-flex-direction column-reverse
        flex-direction column-reverse
    .justify-center-trigger-1040
        -webkit-justify-content center
        justify-content center

@media (max-width: 1024px)
    .square-25
        position relative
        width calc(50vw - 4em)
        max-width 300px
        height calc(50vw - 4em)
        max-height 300px
    .square-25-half
        position relative
        width calc(50vw - 4em)
        max-width 300px
        height calc(25vw - 4em)
        max-height 300px
    .column-trigger-1024
        -webkit-flex-flow column wrap
        flex-flow column wrap
    .column-reverse-trigger-1024
        -webkit-flex-flow column-reverse wrap
        flex-flow column-reverse wrap
    .justify-center-trigger-1024
        -webkit-justify-content center
        justify-content center

@media (max-width: 768px)
    .square-25
        width 100%
        height 100vmin
    .column-trigger-768
        -webkit-flex-flow column wrap
        flex-flow column wrap
    .column-reverse-trigger-768
        -webkit-flex-flow column-reverse wrap
        flex-flow column-reverse wrap
    .justify-center-trigger-768
        -webkit-justify-content center
        justify-content center

@media (max-width: 414px)
    .square-25-half
        width 100%
        height 50vmin
    .column-trigger-414
        -webkit-flex-flow column wrap
        flex-flow column wrap
    .column-reverse-trigger-414
        -webkit-flex-flow column-reverse wrap
        flex-flow column-reverse wrap
    .justify-center-trigger-414
        -webkit-justify-content center
        justify-content center
    section
        margin-right 1em
        margin-left 1em
    .overflow-414
        overflow auto